body {
    background: #ecf0f1;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

.intro {
/*  display: flex;
  justify-content: center;
  align-items: center;*/
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  background: #ecf0f1;
  background: url(img/quiz-background-min.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;}

.button {
    background-color: #e5ce16;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #7f8c8d;
    color: white;
}

#container {
    width: 60%;
/*    background: #ecf0f1;*/
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}

.quiz-header {
    text-align: center;
    border-bottom: #fff dashed 1px;
    margin: 20px auto;
    padding-bottom: 30px;
}


section {
    min-height: 400px;
}

section h4 {
    margin: 40px;
}

section label {
    font-family: "Raleway";
    font-weight: 200;
    font-size: 18px;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

footer a {
    color: #e5ce16;
}

footer a:visited {
    color: 
}


input[type='submit'] {
    background: #7f8c8d;
    border: 0;
    color: #fff;
    padding: 10px 55px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

input[type='submit']:hover {
    background: #e5ce16;
}

#results h3 {
    background: #7f8c8d;
    padding: 10px;
    margin: 10px 0;
}

#results span {
    color: #000;
    font-weight: bold;
}